<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatisPlus.mapper.PersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.mybatisPlus.model.entity.Persion">
        <id column="id" property="id" />
        <result column="first" property="first" />
        <result column="last" property="last" />
        <result column="dateofbirth" property="dateofbirth" />
        <result column="placeofbirth" property="placeofbirth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, first, last, dateofbirth, placeofbirth
    </sql>

</mapper>
